@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: #000;
}

header .uk-navbar-container,
header .uk-container-expand
{
    background: #E53D00 !important;
}


nav .uk-container
{
    max-width: 100%;
    margin: 0;
    padding: 15px 20px;
}

nav .logo
{
    width: 170px;
}



nav .two_pics,
nav .header_right_wraper
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header .uk-container-expand
{
    overflow: hidden;
} */



nav .header_right_wraper
{
    gap: 25px;
}

nav .two_pics img
{
    height: 120px;
    border-radius: 12px;
}

nav .two_pics img:last-child
{
    margin: 0 0 0 12px;
}






@-webkit-keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }


  .uk-container-expand .center_marquee {
    width: fit-content;
    margin: 0;
    padding: 6px 0;
    text-align: center;
    color: #f8f8f8;
    font-family: 'Inter', sans-serif;
    /* overflow: hidden; */
    text-transform: uppercase;
    /* will-change: transform;
    transform: translateX(0); */
    white-space: nowrap;
    /* -webkit-animation: marquee 24s linear infinite;
            animation: marquee 24s linear infinite; */
    font-weight: 500;
  }

  .header_right_card
  {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
  }

  .header_right_card .icon svg
  {
    width: 40px;
    stroke: #d4af37;
  }


  .header_right_card .divider
  {
    border-right: 2px solid #d4af37;
    border-style: dashed;
    border-left: none;
    height: 30px;

  }

  .header_right_card .content .description a
  {
    text-decoration: none;
    color: #f8f8f8;
  }

.header_right_card .content .title h3,
.header_right_card .content .description p
{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #f8f8f8;
}

.header_right_card .content .title h3
{
    font-size: clamp(16px, 0.7vw, 24px);
    font-weight: 600;
}


.header_right_card .content .description p
{
    font-size: clamp(12px, 0.64vw, 16px);
    color: #f8f8f8;
    font-weight: 500;
    padding: 6px 0 0 0;
}


#modal_donate .uk-modal-dialog
{
    padding: 20px 40px;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 22px;
}

#modal_donate h2
{
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: clamp(18px, 1.2vw, 26px);
    font-weight: 700;
    padding: 25px 0;
}

#modal_donate .qr_wraper
{
    padding: 0 60px;

}

#modal_donate .qr_wraper img
{
    padding: 20px;
    border: 1px solid #dddddd;
    border-top-right-radius: 23px;
    border-bottom-left-radius: 22px;
}

#modal_donate .modal_close_btn_wraper
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0 20px 0;
}

#modal_donate .modal_close_btn_wraper .btn_modal_donate_close
{
    position: relative;
    width: 80%;
    right: 0;
    border-radius: 4px;
    font-weight: 600;
}





.sticky_navbar
{
    background: #011936;
    padding: 0 20px;
}

.sticky_navbar .mobile_nav_button
{
    background: transparent;
    border: none;
    cursor: pointer;
    display: none;
}


.sticky_navbar .mobile_nav_button svg
{
    stroke: #f8f8f8;
}

.sticky_navbar .uk-navbar-left h2
{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: clamp(16px, 1.2vw, 22px);
    text-transform: uppercase;
    color: #fff;
}

.sticky_navbar .uk-navbar-left h2 span
{

    color: #E53D00;
}

.uk-sticky-fixed nav .uk-navbar-left h2
{
    color: #000;
}

.sticky_navbar .uk-container
{
    padding: 0;
}

.uk-navbar-nav>li>a
{
    font-family: 'Inter', sans-serif;
    font-size: clamp(14px, 1.22vw, 20px);
    font-weight: 500;
    text-transform: none;
}

.uk-navbar-nav>li.uk-active>a
{
    color: #E53D00 !important;
    border-bottom: 2px solid #E53D00;
    font-weight: 600;
}



.hero_section
{
    padding: 0;
    height: 100vh;
    background-image: url('./img/hero_bg.png');
    border-image: fill 0 linear-gradient(#0003, #000);
    background-size: cover;
    background-attachment: fixed;
}

.hero_section_top
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.hero_left_side
{
    padding: 0 0 0 50px;
}


.hero_left_side h2
{
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(36px, 6vw, 50px);
    
  font-optical-sizing: auto;
  font-weight: 800;
}

.hero_left_side h2:not(:first-child)
{
    color: #d4af37;
    font-size: clamp(56px, 3.7vw, 70px);
}




.map_mask
{
    width: 800px;
    height: 100vh;
    background-image: url('./img/two_child.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    mask-image: url('./img/india_map.png');
    mask-repeat: no-repeat;
}

.featur_section
{
    width: 100%;
    padding: 60px 0;
    background-image: url('./img/card_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-image: fill 0 linear-gradient(#000, #0003);
}



.feture_title
{
    padding: 12px 0 6px 0;
}

.feture_title h2,
.feture_sub_title p,
.about_title h2,
.about_us_content p
{
    color: #FCAB0D;
    font-family: "Inter", sans-serif;
    margin: 0;
    text-align: center;

}

.feture_title h2
{
    font-weight: 700;
    font-size: clamp(26px, 1.7vw, 38px);
}

.feture_container
{
    grid-gap: 22px;
    grid-template-columns: minmax(16rem, 1fr);
    justify-content: center;
    padding: 30px 0;
}

.feture_card
{
    width: 250px;
    background: #fff;
    padding: 12px 24px;
    border: 1px solid #ececec;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feture_card .uk-card-default
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
}

.feture_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


.feture_card .uk-card-media-top img
{
    height: 130px;
}

.feture_card .uk-card-body
{
    padding: 0;
}

.feture_card .uk-card-body h3,
.feture_card .uk-card-body p
{
    margin: 0;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.feture_card .uk-card-body h3
{
    font-size: clamp(22px, 1.2vw, 34px);
    font-weight: 800;
    padding: 14px;
}

.feture_card .uk-card-body p
{
    font-size: clamp(11px, 0.6vw, 18px);
    font-weight: 600;
}

.about_section
{
    padding: 30px 20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(229%2c 61%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c588.351C109.69%2c587.415%2c150.271%2c436.411%2c239.121%2c372.08C320.895%2c312.871%2c446.899%2c314.462%2c498.293%2c227.563C550.206%2c139.786%2c510.437%2c29.462%2c501.85%2c-72.155C492.698%2c-180.467%2c516.332%2c-303.592%2c446.381%2c-386.791C376.329%2c-470.109%2c248.958%2c-461.716%2c145.601%2c-495.871C37.893%2c-531.464%2c-66.923%2c-629.892%2c-173.743%2c-591.716C-281.287%2c-553.281%2c-287.137%2c-399.917%2c-362.643%2c-314.232C-439.105%2c-227.461%2c-608.487%2c-204.05%2c-616.992%2c-88.71C-625.69%2c29.255%2c-473.549%2c90.29%2c-399.257%2c182.334C-345.885%2c248.459%2c-301.34%2c315.594%2c-241.759%2c376.184C-165.029%2c454.213%2c-109.431%2c589.285%2c0%2c588.351' fill='%23b73100'%3e%3c/path%3e%3cpath d='M1440 991.789C1519.141 977.982 1556.198 887.998 1617.186 835.707 1668.003 792.137 1728.252 763.481 1768.588 710.061 1817.0140000000001 645.928 1878.8899999999999 577.936 1872.3 497.845 1865.68 417.39599999999996 1791.162 362.38 1735.193 304.214 1681.939 248.86900000000003 1625.657 198.394 1555.058 168.14800000000002 1477.61 134.96800000000002 1392.634 99.632 1311.609 122.74000000000001 1230.438 145.89 1173.276 218.47199999999998 1128.253 289.87 1087.479 354.53 1072.686 430.352 1069.471 506.726 1066.497 577.371 1085.8519999999999 644.201 1110.55 710.455 1137 781.41 1160.478 856.1659999999999 1218.063 905.341 1279.686 957.9639999999999 1360.172 1005.716 1440 991.789' fill='%23ff5314'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about_section .uk-grid
{
    grid-gap: 30px;
}

.about_title
{
    padding: 30px 0;
}

.about_title h2
{
    font-weight: 800;
    text-align: start;
    font-size: clamp(36px, 2.9vw, 60px);
}

.about_us_content p,
.turst_texts p
{
    color: #fff;
    font-weight: 400;
    text-align: justify;
    font-size: clamp(12px, 1.1vw, 18px);
}

.turst_texts p
{
    color: #1d1d1d;
}

.about_us_content p:not(:first-child),
.turst_texts p:not(:first-child)
{
    padding: 6px 0;
}

.about_us_img img
{
    height: 340px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

footer .footer_row:first-child
{
    background: #1d1d1d;
}

footer .footer_row:last-child
{
    background: #000;
}

.footer_row
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px 20px;
}

.foooter_links_wraper
{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 32px;
}

.footer_logo h2
{
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.footer_links ul > li > a,
.copyright_txt p
{
    margin: 0;
    font-family: 'Inter', sans-serif;
} 



.footer_logo h2
{
    font-size: clamp(26px, 1.7vw, 36px);
    color: #f8f8f8;
    font-weight: 800;
    text-transform: uppercase;
}

.footer_logo h2:last-child
{
    color: #d4af37;
}

.footer_links ul
{
    list-style: none;
}

.footer_links ul > li > a 
{
    font-size: clamp(14px, 0.7vw, 20px);
    color: #f8f8f8;
    font-weight: 500;
}

.copyright_txt
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.copyright_txt p
{
    color: #f8f8f8;
    font-size: clamp(12px, 0.8vw, 26px);
}

.trust_content_container,
.gallery_container
{
    padding: 50px 150px;
}

.turst_texts
{
    padding: 25px 0;
}

.truties_card_wraper
{
    padding: 25px 0;
}

.truties_info_container
{
    grid-gap: 22px;
    align-items: center;
    justify-content: start;
}



.trustie_card
{
    width: 310px;
}

.trustie_card .uk-card
{
    box-shadow: none;
}

.trustie_card .uk-card .uk-card-media-top img
{
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
}

.trustie_card .uk-card .uk-card-body
{
    padding: 16px;
}

.trustie_card .uk-card .uk-card-body .trustie_designation
{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: clamp(14px, 0.7vw, 20px);
    color: #4d4d4d;
    font-weight: 600;
    padding: 12px 0;
    text-transform: uppercase;
}


.trustie_title
{
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: clamp(18px, 0.9vw, 26px);
    font-weight: 700;
    color: #1d1d1d;
}

.trustie_contact
{
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: clamp(14px, 0.7vw, 18px);
    color: #011936;
}



.trustie_contact svg
{
    fill: #011936;
    stroke: none;
    width: 30px;
    padding: 0 12px 0 0;
}


@media (max-width: 766px) {

    .uk-navbar
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .uk-navbar-right
    {
        display: none;
    }

    .sticky_navbar .mobile_nav_button
    {
        display: block;
    }

    nav .header_right_wraper
    {
        padding: 25px 0 0 0;
        justify-content: start;
        flex-wrap: wrap;
    }


}